<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('./partials/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            Thank you, <%= contact.firstName %> <%= contact.lastName %>.
        </div>
    </main>
    
    <footer>
        <%- include('./partials/footer'); %>
    </footer>

</body>
</html>

<!-- <html>
    <head>
        <title>Laurel Thanks You</title>
    </head>
    <body>
        <div>
            Thank you, <%= contact.firstName %> <%= contact.lastName %>.
        </div>
    </body>
</html> -->