<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body class="d-flex flex-column h-100">

    <header>
        <%- include('./partials/header'); %>
    </header>

    <main role="main" class="flex-shrink-0">
        <div class="container" style="height: 39rem">
            <div class="jumbotron mx-auto text-center">
                <h2>Thank you, <%= contact.firstName %> <%= contact.lastName %>.</h2> 
                <h3>Your email has been sent!<h3>
            </div>
        </div>
    </main>
    
    <footer class="footer mt-auto py-3">
        <%- include('./partials/footer'); %>
    </footer>

</body>

